<div>
<div class="mb-2" >
    <div [formGroup]="formPokemon">
        <div class="row">
            <div class="name-align col-sm-12 col-md-1">
                <label class="" for="">Nombre</label>
            </div>
            <div class="btn-group col-sm-12 col-md-4">
                <div class="">
                    <input class="form-control" type="text"
                    name="name"
                    id="name"
                    formControlName="pokemonName">
                </div>
                <div class="">
                    <button class="btn btn-outline-primary" (click)="searchPokemon()">Buscar</button>
                </div>

            </div>
            <label for="" class="col-sm-12 col-md-4">Inserte Numero de Pokemones: </label>
            <div class="btn-group col-sm-12 col-md-3">
              <div>
                <input type="text" class="form-control"
                        formControlName="numberPokemon">
              </div>
              <div>
                <button (click)="getAllPokemon()" class="btn btn-outline-primary">Listar</button>
              </div>
            </div>

        </div>
    </div>
    <div class="">
      <img src={{this.imagen}} alt="">
    </div>
</div>
<div class="pokemon-flex">
  <div class="row">
    <div *ngFor="let item of listPokemon; let i = index" class="col-2">
      <div class="card-container"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave()"
        [ngClass]="{'grow': isHovered && hoveredIndex === i}">
        <div class="card mb-2 mt-2 d-flex align-items-center font-family-name-pokemon">
          <div>
            <img class="height-width-imagen" [src]="item.sprites.other.showdown.front_default" alt="">
          </div>
          <div class="">
            {{ item.name }}
          </div>
          <div class="">
            <button class="btn" (click)="enviarWhatsapp('+51992851446',item.sprites.other.dream_world.front_default)">
              <img style="width: 1cm; height: 1cm;" src="assets/whatsapp_icon-icons.com_62756.ico" alt="">
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>




