<div>
    <div class="color-navbar">
        <div class="d-flex">
            <div>
            <img style="width: 2cm; height: 2cm;" src="assets/Poké_Ball_icon.svg" alt="">
            </div>
            <div class="ml-2 d-flex align-items-center" style="font-family: ui-monospace;">
            <h1 class="margin-left">{{title}}</h1>
        </div>
    </div>
</div>
<div class="d-flex">
    <!-- <div class="list-group">
        <div class="d-flex mt-1">
            <div class="list-group w-100">
                <a href="" class="list-group-item list-group-item-action list-group-item-primary">Pokemon de Tierra</a>
                <a href="" class="list-group-item list-group-item-action list-group-item-primary">Pokemon Electricos</a>
                <a href="" class="list-group-item list-group-item-action list-group-item-primary">Pokemon Acuaticos</a>
                <a href="" class="list-group-item list-group-item-action list-group-item-primary">Pokemon Silvestres</a>
                <a href="" class="list-group-item list-group-item-action list-group-item-primary">Pokemon Raros</a>
                <a href="" class="list-group-item list-group-item-action list-group-item-primary">Pokemon Legendarios</a>
            </div>
          </div>
    </div> -->
    <div class="accordion accordion-flush width-200" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Motos
            </button>
            <i class="fa fa-motorcycle"></i>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">JCH<code>.accordion-flush</code></div>
            <i class="bi bi-tools"></i>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Accesorios
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">RONCO</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Cascos
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">SSENDA <code>.accordion-flush</code></div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Cascos
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Respuestos <code>.accordion-flush</code></div>
            </div>
          </div>
      </div>
    <div class="container-fluid mt-2" style="overflow-y: auto; height: 86vh;">
            <app-main></app-main>
    </div>
</div>
</div>
