<div class="d-flex justify-content-center w-100 mt-1">
  <ul class="list-unstyled">
    <li class="flex-grow-1">
      <button class="btn btn-outline-success btn-block w-100">Pokemon de Tierra</button>
    </li>
    <li class="flex-grow-1">
      <button class="btn btn-outline-success btn-block w-100">Pokemon Electricos</button>
    </li>
    <li class="flex-grow-1">
      <button class="btn btn-outline-success btn-block w-100">Pokemon Acuaticos</button>
    </li>
    <li class="flex-grow-1">
      <button class="btn btn-outline-success btn-block w-100">Pokemon Silvestres</button>
    </li>
    <li class="flex-grow-1">
      <button class="btn btn-outline-success btn-block w-100">Pokemon Raros</button>
    </li>
    <li class="flex-grow-1">
      <button class="btn btn-outline-success btn-block w-100">Pokemon Legendarios</button>
    </li>
  </ul>
</div>

